/* ==========================================================================
   Custom styles for demo
   ========================================================================== */
body.demo {
	background: url(../images/light_wool.png) repeat;
}

.col {
	background: #f3f3f3;
	background: rgba(243, 243, 243, .95);
	padding: 1em 0;
	text-align: center;
	margin-top: 1em;
}

.grey {
	color: #bbb;
}
