/* ==========================================================================
   Imports
   ========================================================================== */

@import url(normalize.css);
@import url(yetti-helper.css);
@import url(yetti-grid.css);
@import url(yetti-tables.css);
@import url(yetti-forms.css);
@import url(elusive-webfont.css);

/* Third party scripts like jquery plugins */
@import url(colorbox.css);

/* ==========================================================================
   Generic Styles (HTML elements & Typography)
   ========================================================================== */
  
/* --- DEFAULT SETTINGS --- */  
  
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;	
	box-sizing: border-box;
}

html {
	min-height: 100%; 
	font-size: 100%; 
	overflow-y: scroll; 
	-webkit-text-size-adjust: 100%;
} 
 
body {
	font: 100%/1.5 sans-serif;
	font-size: .875em; /* 14px */
	color: #333;
	-webkit-font-smoothing:antialiased; 
}

img, object, embed, video {
	max-width: 100%;
}

img {
	height: auto;
}

figure {
	margin: 0;
}

strong {
	font-weight: 700; 
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

/* Horizontal ruler */

hr {
	clear:both;
	border-width: 0;
	border-color: #ddd;
	border-style: solid;
	border-top-width: 1px;
	margin: .83em 0;
	min-height: 0;
	height: 1px;
}

hr.dotted {
	border-style: dotted;
}

hr.dashed {
	border-style: dashed;
}

/* Lists */

ul, ol {
	list-style-position: inside;
}

/* Reset default borders */

form, fieldset, a img {
	border: 0;
}

/* Reset default spacing */
form {
	margin: 0;
	padding: 0;
}

/* --- COMMON STYLES --- */  

.clickable, .clickable-blank { 
	cursor: pointer; 
}

/* Reset list style */

.no-list, .no-list ul {
	list-style: none
}

/* Reset paddings */

.no-padding { 
	padding: 0; 
}

.no-padding-top {
	padding-top: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

/* Reset margins */

.no-margin { 
	margin: 0; 
}

.no-margin-top {
	margin-top: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

/* Text alignments */

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-centered {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

/* Floats */

.left {
	float: left;
}

.right {
	float: right;
}

.img.left {
	margin-right: .4em;
	margin-bottom: .4em;
}

.img.right {
	margin-left: .4em;
	margin-bottom: .4em;
}

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

/* Override block and inline elements */

.block {
	display: block;
}
.inline-block {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.inline {
	display: inline;
}

/* --- TYPOGRAPHY --- */ 

/* Headings */

h1, h2, h3, h4, h5, h6 {
	margin: .4em 0;
}

h1 {
	font-size: 4.285714em; /* 60px */
}

h2 {
	font-size: 3.428571em; /* 48px */
}

h3 {
	font-size: 2.571428em; /* 36px */
} 
 
h4 {
	font-size: 1.714285em; /* 24px */
}

h5 {
	font-size: 1.5em; /* 21px */
}

h6 {
	font-size: 1.285714em; /* 18px */
}

.subheading {
	font-size: 1.2em;
	font-weight: normal;
	margin-top: 0;
}

hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {
  margin: .1em 0;
}

/* Paragraphs, Lists ... */

p, ul, blockquote, pre, td, th, label {
	font-size: 1em; /* 14px */
	line-height: 1.5;
}

p.lead {
	font-size: 1.285714em; /* 18px */
}

dl dt {
	font-weight: bold;
}

dl.no-margins dd {
	margin-left: 0;
}

/* Blockquote & Cite */

blockquote, q {
	font-size: 1.428571em; /* 20px */
  	padding: 1em 2.142857em;
  	margin: 1em 0;
  	font-family: serif;
  	font-style: italic;
}

blockquote:before, q:before, blockquote:after, q:after {
	font-size: 4.285714em;
	line-height: 1;
	color: #ccc;
}

blockquote:before, q:before {
	content: "\201C";
	margin-left: -.7em;
	float: left;
}

blockquote:after, q:after {
	content: "\201D";
	margin-right: -.5em;
	float: right;
}

blockquote small, blockquote cite {
  font-size: .6em; /* 12px */
  line-height: 1;
}

blockquote small.right-aligned, blockquote cite.right-aligned {
	display: block;
	text-align: right;
}

/* Preformatted, Code, Keyboard */

pre, code, kbd, samp {
	font-size: .857142em; /* 12px */
	font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'Courier New', monospace;
}

pre {
	white-space: pre; 
	white-space: pre-wrap; 
	word-wrap: break-word;
	background: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 1.5em;
	margin: 1.5em 0;
	overflow: auto;
}

code {
	border-radius: 2px;
	color: #00b1f7;
	padding: .166em .25em;
	display: inline-block;
	line-height: 1;
	background: #f8f8f8;
	border: 1px solid #ddd;
}

kbd {
	padding: .166em .25em;
	border-radius: 4px;
	background: #fafafa;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px 1px 2px;
	color: #222;
	font-weight: bold;
	white-space: nowrap;
}

kbd:hover {
	border-bottom-color: #bbb;
	border-left-color: #bbb;
	border-width: 2px 1px 1px;
}

mark {
	background: #ffdd45;
	background: rgba(255, 221, 69, .7);
}


/* Extras */

.tiny {
	font-size: 0.785714em; /* 11px */
}

small, .small {
	font-size: 0.857142em; /* 12px */
}

.big {
	font-size: 1.142857em; /* 16px */
}

.bold { 
	font-weight: 700; 
}

.extra-bold {
	font-weight: 900;
}

.normal {
	font-weight: 400;
}

.italic {
	font-style: italic;
}

.upper {
	text-transform: uppercase; 
}


  
/* TO DO 
	- Forms
	- Buttons

 */

