/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ! Extended by Goran Ilic \ http://www.ich-mach-das.at																*/
/* ==================================================================================================================== */

.full {
    width: 100%;
    display: block;
}

.container {
padding-left: 20px;
padding-right: 20px;
}

.row {
width: 100%;
max-width: 1140px;
min-width: 768px;
margin: 0 auto;
/*overflow: hidden;*/
position: relative;
}

.row:before, .row:after {
content: " ";
display: table;
}

.row:after {
clear: both;   
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
position: relative;
}

.row .onecol {
width: 4.85%;
}

.row .twocol {
width: 13.45%;
}

.row .threecol {
width: 22.05%;
}

.row .fourcol {
width: 30.75%;
}

.row .fivecol {
width: 39.45%;
}

.row .sixcol {
width: 48%;
}

.row .sevencol {
width: 56.75%;
}

.row .eightcol {
width: 65.4%;
}

.row .ninecol {
width: 74.05%;
}

.row .tencol {
width: 82.7%;
}

.row .elevencol {
width: 91.35%;
}

.row .twelvecol {
width: 100%;
float: left;
}

 /* Offset */ 
.row .offset-one, .row .offset-two, .row .offset-three, .row .offset-four, .row .offset-five, .row .offset-six, .row .offset-seven, .row .offset-eight, .row .offset-nine, .row .offset-ten {
    margin-right: 0;
}
.row .offset-one { 
    margin-left: 8.65%; 
}
.row .offset-two { 
    margin-left: 17.25%;
}
.row .offset-three { 
    margin-left: 25.85%;
}
.row .offset-four { 
    margin-left: 34.55%;
}
.row .offset-five { 
    margin-left: 43.25%; 
}
.row .offset-six { 
    margin-left: 51.8%;
}
.row .offset-seven { 
    margin-left: 60.55%;
}
.row .offset-eight { 
    margin-left: 69.2%;
}
.row .offset-nine { 
    margin-left: 77.85%;
}
.row .offset-ten { 
    margin-left: 86.5%;
}

 /* Push */ 
.row .push-one {
    left: 8.65%;
}
.row .push-two { 
    left: 17.25%;
}
.row .push-three { 
    left: 25.85%;
}
.row .push-four { 
    left: 34.55%;
}
.row .push-five { 
    left: 43.25%;
}
.row .push-six { 
    left: 51.8%;
}
.row .push-seven { 
    left: 60.55%;
}
.row .push-eight { 
    left: 69.2%;
}
.row .push-nine { 
    left: 77.85%;
}
.row .push-ten { 
    left: 86.5%;
}
.row .push-eleven {
    left: 95.15%;
}

 /* Pull */ 
.row .pull-one {
    right: 4.85%;
}
.row .pull-two { 
    right: 13.45%;
}
.row .pull-three { 
    right: 22.05%;
}
.row .pull-four { 
    right: 30.75%;
}
.row .pull-five { 
    right: 39.45%; 
}
.row .pull-six { 
    right: 48%;
}
.row .pull-seven { 
    right: 56.75%;
}
.row .pull-eight { 
    right: 65.4%;
}
.row .pull-nine { 
    right: 74.05%;
}
.row .pull-ten { 
    right: 82.7%;
}
.row .pull-eleven {
    right: 91.35%;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
height: auto;
}