/* ==========================================================================
   12 Column Grid System based on the 1140px Grid V2 
   by Andy Taylor http://cssgrid.net
 
   Extended by Goran Ilic http://www.ich-mach-das.at																
   ========================================================================== */

.container {
	padding-left: 20px;
	padding-right: 20px;
}

.row {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
}

.row:before, .row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

.full {
	width: 100%;
	display: block;
}

.half, .third, .two-third, .quarter, .three-quarter, .fifth, .two-fifth, .three-fifth, .four-fifth {
	float: left;
}

.half {
	width: 50%;
}

.third {
	width: 33.33%; 
}

.two-third {
	width: 66.66%;
}

.quarter {
	width: 25%;
}

.three-quarter {
	width: 75%;
}

.fifth {
	width: 20%;
}

.two-fifth {
	width: 40%;
}

.three-fifth {
	width: 60%;
}

.four-fifth {
	width: 80%
}

@media only screen and (min-width: 768px) {
	
	/* ==========================================================================
   	   Base 12 Column Grid
   	   ========================================================================== */
  
	.col, .one-col, .two-col, .three-col, .four-col, .five-col, .six-col, .seven-col, .eight-col, .nine-col, .ten-col, .eleven-col {
		margin-left: 3.8%;
		float: left;
		min-height: 1px;
		position: relative;
	}
	.row .one-col {
		width: 4.85%;
	}
	.row .two-col {
		width: 13.45%;
	}
	.row .three-col {
		width: 22.05%;
	}
	.row .four-col {
		width: 30.75%;
	}
	.row .five-col {
		width: 39.45%;
	}
	.row .six-col {
		width: 48.1%;
	}
	.row .seven-col {
		width: 56.75%;
	}
	.row .eight-col {
		width: 65.4%;
	}
	.row .nine-col {
		width: 74.05%;
	}
	.row .ten-col {
		width: 82.7%;
	}
	.row .eleven-col {
		width: 91.35%;
	}
	.row .twelve-col {
		width: 100%;
		margin-left: 0;
	}	
	.row [class*="-col"]:first-child, .row [class*="-col"].first {
		margin-left: 0;
	}


	/* ==========================================================================
   	   Offset Space
   	   ========================================================================== */
   	  
	.row .offset-one {
		margin-left: 8.65% !important;
	}
	.row .offset-two {
		margin-left: 17.25% !important;
	}
	.row .offset-three {
		margin-left: 25.85% !important;
	}
	.row .offset-four {
		margin-left: 34.55% !important;
	}
	.row .offset-five {
		margin-left: 43.25% !important;
	}
	.row .offset-six {
		margin-left: 51.8% !important;
	}
	.row .offset-seven {
		margin-left: 60.55% !important;
	}
	.row .offset-eight {
		margin-left: 69.2% !important;
	}
	.row .offset-nine {
		margin-left: 77.85% !important;
	}
	.row .offset-ten {
		margin-left: 86.5% !important;
	}
	.row .offset-eleven {
		margin-left: 95.15% !important;
	}	


	/* ==========================================================================
   	   Push & Pull Space
   	   ========================================================================== */
   	  
	.row .push-one, .row .push-two, .row .push-three, .row .push-four, .row .push-five, .row .push-six, .row .push-seven, .row .push-eight, .row .push-nine, .row .push-ten, .row .push-eleven,
	.row .pull-one, .row .pull-two, .row .pull-three, .row .pull-four, .row .pull-five, .row .pull-six, .row .pull-seven, .row .pull-eight, .row .pull-nine, .row .pull-ten, .row .pull-eleven {
		position: relative;
		margin-left: 0;
	}  
   	  
	.row .push-one {
		left: 8.65%;
	}
	.row .push-two {
		left: 17.25%;
	}
	.row .push-three {
		left: 25.85%;
	}
	.row .push-four {
		left: 34.55%;
	}
	.row .push-five {
		left: 43.25%;
	}
	.row .push-six {
		left: 51.8%;
	}
	.row .push-seven {
		left: 60.55%;
	}
	.row .push-eight {
		left: 69.2%;
	}
	.row .push-nine {
		left: 77.85%;
	}
	.row .push-ten {
		left: 86.5%;
	}
	.row .push-eleven {
		left: 95.15%;
	}

   	  
	.row .pull-one {
		right: 4.85%;
	}
	.row .pull-two {
		right: 13.45%;
	}
	.row .pull-three {
		right: 22.05%;
	}
	.row .pull-four {
		right: 30.75%;
	}
	.row .pull-five {
		right: 39.45%;
	}
	.row .pull-six {
		right: 48%;
	}
	.row .pull-seven {
		right: 56.75%;
	}
	.row .pull-eight {
		right: 65.4%;
	}
	.row .pull-nine {
		right: 74.05%;
	}
	.row .pull-ten {
		right: 82.7%;
	}
	.row .pull-eleven {
		right: 91.35%;
	}

}